.form-title{
	align: center;
	font-size: 40px;
	font-weight: bolder;
	color: gray;
	align-items: center;
}
.form {
	width: 100%;
}
.ant-alert-error{
	width: 300px;
	margin: 20px;
}
.form-forgot {
	float: right;
}
.form-button {
	width: 400px;
}